<!--

1) print out the ID
2) find the object w/ that ID and print out name.
3) build in logic that test for valid id

-->

 

The id is <%= @id %>.
<br />

<% if @exists == true %>
  <p>The student's name is <%= @student.name %>.</p>
<% else %>
  <p>That student ID does not exist.</p>
<% end %>